root = true

[*]
indent_style = tab
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,gradle}]
indent_style = space
indent_size = 4

[package.json]
indent_style = space
indent_size = 2

[*.{yml,yaml,prisma}]
indent_style = space
indent_size = 2

# media-chrome themes
[apps/web/src/ui/widgets/player/themes/**.js]
indent_style = space
indent_size = 2
